* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    font-family: Archivo Expanded Medium;
}

main p{
    font-size: 150%;
    font-family: Archivo Expanded Light;
}

main a {
    color: black;
}

header {
    position: sticky;
    text-align: center;
    padding-top: 10%;
    font-family: Archivo Expanded Medium;
}

.menu a:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

.menu a {
    transition: ease-in-out 0.2s;
}


.menu {
    position: sticky;
    display: flex;
    padding-top: 5%;
    font-size: 200%;
    justify-content: center;
}

.menu a {
    padding: 3%;
}

main h2 {
    font-family: Archivo Expanded Black;
    font-size: 500%;
}

/*ANIMATE

.animate-on-scroll {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
}

.animate {
    opacity: 1;
    transform: translateX(0);
}*/

/*DESIGN*/

#design2, #musica2, #audiovisual2 {
    display: none;
}

.info h2 {
    margin-left: 5%;
    margin-top: 5%;
}

.info p {
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 60%;
    margin-bottom: 100%;
}


@font-face {
    font-family: Archivo Expanded Medium;
    src: url('../fonts/Archivo_Expanded-Medium.ttf');
}

@font-face {
    font-family: Archivo Expanded Bold;
    src: url('../fonts/Archivo_Expanded-Bold.ttf');
}

@font-face {
    font-family: Archivo Expanded Black;
    src: url('../fonts/Archivo_Expanded-Black.ttf');
}

@font-face {
    font-family: Archivo Expanded Light;
    src: url('../fonts/Archivo_Expanded-Light.ttf');
}