html {
    scroll-behavior: smooth;
  }

  ::selection {
    color: none;
    background: none;
}

* {
    cursor: url(../img/lapisicon.png) 0 50, auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 115%;
}

.item_container img:hover{
    cursor: url(../img/lapis3.png) 25 50, auto;
    transition: ease-in-out 0.5s;
}

body {
    background-image: url('../img/bgd.jpg');
    overflow-x: hidden;
}


main {
    font-family: Alte Haas Grotesk Bold;
}

main p{
    font-size: 130%;
    font-family: Alte Haas Grotesk Regular;
}

main a {
    color: rgb(32, 32, 32);
    mix-blend-mode: multiply();
}

header {
    position: sticky;
    text-align: center;
    padding-top: 10%;
    mix-blend-mode: multiply();
    font-family: Alte Haas Grotesk Bold;
}

.logo p{
    font-family: Photograph Signature;
    color: rgb(32, 32, 32);
    mix-blend-mode: multiply();
    font-size: 1100%;
}

.navbar a:hover {
    /*transform: scale(1.2);*/
    color: white;
    background-color: rgb(32, 32, 32);
    mix-blend-mode: multiply();
    transition: ease-in-out 0.5s;
    cursor: url(../img/lapis3.png) 25 50, auto;
    transition: ease-in-out 0.5s;
}

.navbar a {
    transition: ease-in-out 0.5s;
    color: rgb(32, 32, 32);
    mix-blend-mode: multiply();
}


.navbar {
    z-index: 2;
    display: flex;
    padding-top: 6%;
    font-size: 200%;
    justify-content: center;
}

.navbar a {
    padding: 3%;
}

main h2 {
    font-family: Alte Haas Grotesk Regular rgb(32, 32, 32);
    mix-blend-mode: multiply();
    font-size: 450%;
}

main h3 {
    font-family: Alte Haas Grotesk Regular rgb(32, 32, 32);
    mix-blend-mode: multiply();
}

/* COINTAINERS */

.image-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.image-container a {
    margin: 0;
    right: 0;
    padding: 0;
}


@keyframes show {
    0%{ scale: 0 }
    80%{ scale: 1.2 }
    100%{ scale: 1 }
}

.item_img1 {
    transform: rotate(-20deg);
    position: relative;
    animation: show 400ms ease-in forwards;
    left: -50px;
}

.item_img2 {
    position: relative;
    left: -200px;
    bottom: 50px;
    transform: rotate(20deg);
    animation: show 400ms 300ms ease-in forwards;
}


.item_container {
    margin-top: 5%;
    display: flex;
}

.item_container #texto{
    margin-left: 3%;
}

.item_container p{
   width: 75%;
}

.icons_container {

}

#design2, #musica2, #audiovisual2 {
    display: none;
    margin-bottom: 1%;
}

.info h2, h3 {
    margin-left: 5%;
}

.info h3 {
    margin-top: 3%;
}

.info p {
    display: block;
    margin-top: 3%;
    margin-left: 5%;
}

.info {
    top: 2%;
}



@font-face {
    font-family: Archivo Expanded Medium;
    src: url('../fonts/Archivo_Expanded-Medium.ttf');
}

@font-face {
    font-family: Archivo Expanded Bold;
    src: url('../fonts/Archivo_Expanded-Bold.ttf');
}

@font-face {
    font-family: Archivo Expanded Black;
    src: url('../fonts/Archivo_Expanded-Black.ttf');
}

@font-face {
    font-family: Archivo Expanded Light;
    src: url('../fonts/Archivo_Expanded-Light.ttf');
}

@font-face {
    font-family: Photograph Signature;
    src: url('../fonts/Photograph Signature.ttf');
}


@font-face {
    font-family: Alte Haas Grotesk Regular;
    src: url('../fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: Alte Haas Grotesk Bold;
    src: url('../fonts/AlteHaasGroteskBold.ttf');
}


/*RESPONSIVIDADE*/


@media screen and (max-width: 929px) {

    .navbar {
        font-size: 100%;
    }

    .info h2 {
        font-size: 300%;
    }

    .info p {
        font-size: 100%;
    }

    .item_container p {
        width: 100%;
    }

    .design p {
        width: 180%;
    }

    .musica p {
        width: 170%;
    }

    .audiovisual p{
        width: 100%;
    }

    .audiovisual img{
        top: 400px;
        left: -100px;
    }

    body {
        background-size: 180%;
    }

    .item_img1 {
        top: 350px;
        left: -100px;
    }
    
    .item_img2 {
        top: 350px;
        left: -100px;
    }

    .item_container {
        display: flex;
        width: 97%;
    }


}

@media screen and (max-width: 1330px) and (min-width: 930px) {

    .item_img1 {
        top: 80px;
        left: 0px;
    }

    .item_img2 {
        top: 80px;
        left: -80px;
    }

    .item_container {
        display: flex;
        width: 97%;
    }

    .audiovisual img {
        top: 100px;
    }

}




